!!!
%html
  %head
    %title Monkey Inferno Challenge #2
    %link{ :href => "stylesheets/reset-min.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %link{ :href => "stylesheets/application.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
  %body
    #header.container
      %h1
        %a{:href => "http://www.monkeyinferno.com/"}
          Monkey Inferno Challenge #2 
    #main.container
      #left_rail
        .module.two
          %h2
            Restaurant Categories
          %ul.list
            - @categories.each_pair do |cuisine,value|
              %li.item
                .name
                  = cuisine
                %ul
                  - value.each do |restaurant|
                    %li
                      %a{:href=> "#{restaurant["url"]}"}
                        = restaurant["name"]
        .module.three  
          %h2      
            Recent Restaurant Reviews
          %ul.list#reviews
            - @recent_business_reviews.each do |business|
              %li.item.name
                = business["name"]
              - business["reviews"].each do |review|
                %li.item
                  %ul
                    %li.photo
                      %a{:href => "#{review["user_url"]}"}
                        %img{:src => "#{review["user_photo_url"]}", :alt => "#{review["user_name"]}"}
                    %li
                      %a{:href => "#{review["user_url"]}"}
                        = review["user_name"]
                    %li
                      %a{:href => "#{review["url"]}"}
                        = review["text_excerpt"]
                    %li
                      %img{:src => "#{review["rating_img_url"]}", :alt => "Star Rating of #{review["rating"]}"}
      #right_rail
        .module.one
          %h2
            Top Restaurants
          %ul.list
            - @restaurants.each do |restaurant|
              %li.item
                %a{:href => "#{restaurant["url"]}"}
                  %img{:class=> "snapshot", :src => restaurant["image_url"], :alt => "#{restaurant["name"]} snapshot"}
                %ul.info
                  %li.name
                    %a{:href => "#{restaurant["url"]}"}
                      = restaurant["name"]
                  %li
                    %a{:href => "tel:#{restaurant["phone"]}"}
                      = restaurant["display_phone"]
                  %li
                    %img{:src => restaurant["rating_img_url"], :alt => "#{restaurant["name"]} rating"}
                  - restaurant["categories"].each do |category|
                    %li
                      = category[0]

