!!!
%html
  %head
    %title Monkey Inferno Challenge #2
    %link{ :href => "stylesheets/reset-min.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %link{ :href => "stylesheets/application.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
  %body
    #header
      Header 
    #main
      Challenge #2
      %h2
        Top Restaurants
      - @top_restaurants.each do |restaurant|
        %li
          %a{:href => "tel:#{restaurant["phone"]}"}
            = restaurant["display_phone"]
          %span
            = restaurant["name"]
          %img{:src => restaurant["rating_img_url_small"], :alt => "#{restaurant["name"]} rating"}
          %img{:src => restaurant["image_url"], :alt => "#{restaurant["name"]} snapshot"}
          
          
      %h2
        Restaurant Categories
      - @restaurant_categories.each do |rc|
        = rc
      %h2
        Most Recent Restaurant Reviews
      - @most_recent_reviews.each do |mrr|
        = mrr
    %script{:src => "javascripts/jquery-1.6.1.min.js", :type => "text/javascript"}
    %script{:src => "javascripts/application.js", :type => "text/javascript"}

